* text=auto !eol
GeneticsCore/GeneticsCore.iml -text
GeneticsCore/build.xml -text
GeneticsCore/module.properties -text
GeneticsCore/resources/module.xml -text
GeneticsCore/resources/queries/study/dnaFlagSummary.query.xml -text
GeneticsCore/resources/queries/study/dnaFlagSummary.sql -text
GeneticsCore/resources/queries/study/mhcFlagSummary.query.xml -text
GeneticsCore/resources/queries/study/mhcFlagSummary.sql -text
GeneticsCore/resources/queries/study/parentageFlagSummary.query.xml -text
GeneticsCore/resources/queries/study/parentageFlagSummary.sql -text
GeneticsCore/resources/views/begin.html -text
GeneticsCore/resources/views/begin.view.xml -text
GeneticsCore/resources/views/begin.webpart.xml -text
GeneticsCore/resources/web/geneticscore/buttons.js -text
GeneticsCore/resources/web/geneticscore/window/ManageFlagsWindow.js -text
GeneticsCore/src/org/labkey/GeneticsCore/GeneticsCoreController.java -text
GeneticsCore/src/org/labkey/GeneticsCore/GeneticsCoreManager.java -text
GeneticsCore/src/org/labkey/GeneticsCore/GeneticsCoreModule.java -text
GeneticsCore/src/org/labkey/GeneticsCore/notification/GeneticsCoreNotification.java -text
/README.txt -text
onprc_reports/ONPRC_Reports.iml -text
onprc_reports/build.xml -text
onprc_reports/module.properties -text
onprc_reports/resources/queries/MHC_Data/MHC_Data_Pivoted/Common[!!-~]Alleles.qview.xml -text
onprc_reports/resources/queries/laboratory/mhcSamples.query.xml -text
onprc_reports/resources/queries/laboratory/mhcSamples.sql -text
onprc_reports/resources/queries/laboratory/parentageSamples.query.xml -text
onprc_reports/resources/queries/laboratory/parentageSamples.sql -text
onprc_reports/resources/queries/sequenceanalysis/MHC_Data_Pivoted.sql -text
onprc_reports/resources/queries/sequenceanalysis/MHC_Data_Raw.sql -text
onprc_reports/resources/queries/sequenceanalysis/MHC_Data_Unified.query.xml -text
onprc_reports/resources/queries/sequenceanalysis/MHC_Data_Unified.sql -text
onprc_reports/resources/queries/study/demographicsMHCTests.sql -text
onprc_reports/resources/queries/study/processingBloodDraws.query.xml -text
onprc_reports/resources/queries/study/processingBloodDraws.sql -text
onprc_reports/resources/queries/study/processingBloodDraws/.qview.xml -text
onprc_reports/resources/queries/study/processingGeneticsBloodDraws.query.xml -text
onprc_reports/resources/queries/study/processingGeneticsBloodDraws.sql -text
onprc_reports/resources/queries/study/processingGeneticsBloodDraws/.qview.xml -text
onprc_reports/resources/queries/study/processingGeneticsBloodDraws/Need[!!-~]Blood[!!-~]Draws.qview.xml -text
onprc_reports/resources/schemas/DNABank.template.xml -text
onprc_reports/resources/schemas/MHCResults.template.xml -text
onprc_reports/resources/schemas/ParentageResults.template.xml -text
onprc_reports/resources/schemas/ViralLoadResults.template.xml -text
onprc_reports/src/org/labkey/onprc_reports/ONPRC_ReportsCustomizer.java -text
onprc_reports/src/org/labkey/onprc_reports/ONPRC_ReportsManager.java -text
onprc_reports/src/org/labkey/onprc_reports/ONPRC_ReportsModule.java -text
sla/SLA.iml -text
sla/module.properties -text
sla/resources/folderTypes/SLA.folderType.xml -text
sla/resources/module.xml -text
sla/resources/schemas/dbscripts/postgresql/sla-0.00-13.21.sql -text
sla/resources/schemas/dbscripts/sqlserver/sla-0.00-13.21.sql -text
sla/resources/schemas/sla.xml -text
sla/resources/views/begin.html -text
sla/resources/views/begin.view.xml -text
sla/resources/views/begin.webpart.xml -text
sla/resources/views/etlAdmin.html -text
sla/resources/views/etlAdmin.view.xml -text
sla/src/org/labkey/sla/SLAController.java -text
sla/src/org/labkey/sla/SLAManager.java -text
sla/src/org/labkey/sla/SLAModule.java -text
sla/src/org/labkey/sla/SLASchema.java -text
sla/src/org/labkey/sla/etl/ETL.java -text
sla/src/org/labkey/sla/etl/ETLAuditProvider.java -text
sla/src/org/labkey/sla/etl/ETLAuditViewFactory.java -text
sla/src/org/labkey/sla/etl/ETLRunnable.java -text
