* text=auto !eol
onprc_ehr/ONPRC_EHR.iml -text
onprc_ehr/build.xml -text
onprc_ehr/module.properties -text
onprc_ehr/resources/etl/ehr/encounter_flags.sql -text
onprc_ehr/resources/etl/ehr/encounter_participants.sql -text
onprc_ehr/resources/etl/ehr/encounter_summaries.sql -text
onprc_ehr/resources/etl/ehr/project.sql -text
onprc_ehr/resources/etl/ehr/protocol.sql -text
onprc_ehr/resources/etl/ehr/protocolProcedures.sql -text
onprc_ehr/resources/etl/ehr/snomed_tags.sql -text
onprc_ehr/resources/etl/ehr_lookups/cage.sql -text
onprc_ehr/resources/etl/ehr_lookups/lookups.sql -text
onprc_ehr/resources/etl/onprc_billing/accounts.sql -text
onprc_ehr/resources/etl/onprc_billing/grants.sql -text
onprc_ehr/resources/etl/onprc_billing/projectAccountHistory.sql -text
onprc_ehr/resources/etl/pending/Sur_AnesthesiaLogData.sql -text
onprc_ehr/resources/etl/pending/Sur_implants.sql -text
onprc_ehr/resources/etl/pending/accounts.sql -text
onprc_ehr/resources/etl/pending/invoicedItems.sql -text
onprc_ehr/resources/etl/pending/sur_vessels.sql -text
onprc_ehr/resources/etl/pending/tissue_recipients.sql -text
onprc_ehr/resources/etl/static/billing.sql -text
onprc_ehr/resources/etl/static/ehr_lookups.sql -text
onprc_ehr/resources/etl/static/onprc_ehr.sql -text
onprc_ehr/resources/etl/static/procedure_lookups.sql -text
onprc_ehr/resources/etl/static/splitter.sql -text
onprc_ehr/resources/etl/study/AntibioticSensitivity.sql -text
onprc_ehr/resources/etl/study/Arrival.sql -text
onprc_ehr/resources/etl/study/Assignment.sql -text
onprc_ehr/resources/etl/study/Birth.sql -text
onprc_ehr/resources/etl/study/Blood[!!-~]Draws.sql -text
onprc_ehr/resources/etl/study/Cases.sql -text
onprc_ehr/resources/etl/study/Chemistry[!!-~]Results.sql -text
onprc_ehr/resources/etl/study/Clinical[!!-~]Encounters.sql -text
onprc_ehr/resources/etl/study/Clinical[!!-~]Observations.sql -text
onprc_ehr/resources/etl/study/Clinical[!!-~]Remarks.sql -text
onprc_ehr/resources/etl/study/Clinpath[!!-~]Runs.sql -text
onprc_ehr/resources/etl/study/Deaths.sql -text
onprc_ehr/resources/etl/study/Delivery.sql -text
onprc_ehr/resources/etl/study/Demographics.sql -text
onprc_ehr/resources/etl/study/Departure.sql -text
onprc_ehr/resources/etl/study/Diagnostics.sql -text
onprc_ehr/resources/etl/study/Diet.sql -text
onprc_ehr/resources/etl/study/Drug[!!-~]Administration.sql -text
onprc_ehr/resources/etl/study/Enrichment.sql -text
onprc_ehr/resources/etl/study/Flags.sql -text
onprc_ehr/resources/etl/study/FosterParents.sql -text
onprc_ehr/resources/etl/study/Hematology[!!-~]Results.sql -text
onprc_ehr/resources/etl/study/Housing.sql -text
onprc_ehr/resources/etl/study/Matings.sql -text
onprc_ehr/resources/etl/study/Measurements.sql -text
onprc_ehr/resources/etl/study/Microbiology.sql -text
onprc_ehr/resources/etl/study/Morphologic[!!-~]Diagnosis.sql -text
onprc_ehr/resources/etl/study/Notes.sql -text
onprc_ehr/resources/etl/study/Organ[!!-~]Weights.sql -text
onprc_ehr/resources/etl/study/Parasitology[!!-~]Results.sql -text
onprc_ehr/resources/etl/study/PregnancyConfirmation.sql -text
onprc_ehr/resources/etl/study/Problem[!!-~]List.sql -text
onprc_ehr/resources/etl/study/Serology.sql -text
onprc_ehr/resources/etl/study/Tissue[!!-~]Samples.sql -text
onprc_ehr/resources/etl/study/Treatment[!!-~]Orders.sql -text
onprc_ehr/resources/etl/study/Urinalysis[!!-~]Results.sql -text
onprc_ehr/resources/etl/study/Virology[!!-~]Results.sql -text
onprc_ehr/resources/etl/study/Weight.sql -text
onprc_ehr/resources/etl/study/pairings.sql -text
onprc_ehr/resources/folderTypes/ONPRC_EHR.folderType.xml -text
onprc_ehr/resources/queries/ehr/project.js -text
onprc_ehr/resources/queries/ehr_lookups/housingDefinition.sql -text
onprc_ehr/resources/queries/ehr_lookups/housingTypes.sql -text
onprc_ehr/resources/queries/ehr_lookups/locationTypes.sql -text
onprc_ehr/resources/queries/ehr_lookups/location_types.sql -text
onprc_ehr/resources/queries/onprc_billing/chargeRateExemptions/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/chargeRates/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/chargeableItems/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/fiscalAuthorities/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/grantProjects/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/grants/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/leaseFeeDefinition/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/leaseFees.query.xml -text
onprc_ehr/resources/queries/onprc_billing/leaseFees.sql -text
onprc_ehr/resources/queries/onprc_billing/perDiemFeeDefinition/.qview.xml -text
onprc_ehr/resources/queries/onprc_billing/perDiems.query.xml -text
onprc_ehr/resources/queries/onprc_billing/perDiems.sql -text
onprc_ehr/resources/queries/onprc_billing/perDiemsByDay.query.xml -text
onprc_ehr/resources/queries/onprc_billing/perDiemsByDay.sql -text
onprc_ehr/resources/queries/onprc_billing/procedureFees.query.xml -text
onprc_ehr/resources/queries/onprc_billing/procedureFees.sql -text
onprc_ehr/resources/queries/study/Animal[!!-~]Record[!!-~]Flags.js -text
onprc_ehr/resources/queries/study/Animal[!!-~]Record[!!-~]Flags.query.xml -text
onprc_ehr/resources/queries/study/Animal[!!-~]Record[!!-~]Flags/.qview.xml -text
onprc_ehr/resources/queries/study/Animal[!!-~]Record[!!-~]Flags/Active[!!-~]Flags.qview.xml -text
onprc_ehr/resources/queries/study/Antibiotic[!!-~]Sensitivity.js -text
onprc_ehr/resources/queries/study/Antibiotic[!!-~]Sensitivity.query.xml -text
onprc_ehr/resources/queries/study/Antibiotic[!!-~]Sensitivity/.qview.xml -text
onprc_ehr/resources/queries/study/Cases.js -text
onprc_ehr/resources/queries/study/Clinical[!!-~]Encounters/Diagnoses.qview.xml -text
onprc_ehr/resources/queries/study/Clinical[!!-~]Remarks/SOAP[!!-~]Note.qview.xml -text
onprc_ehr/resources/queries/study/Delivery.js -text
onprc_ehr/resources/queries/study/Delivery.query.xml -text
onprc_ehr/resources/queries/study/Delivery/.qview.xml -text
onprc_ehr/resources/queries/study/Demographics/Snapshot.qview.xml -text
onprc_ehr/resources/queries/study/Diagnostics.js -text
onprc_ehr/resources/queries/study/Diagnostics.query.xml -text
onprc_ehr/resources/queries/study/Diagnostics/.qview.xml -text
onprc_ehr/resources/queries/study/Diet.js -text
onprc_ehr/resources/queries/study/Diet.query.xml -text
onprc_ehr/resources/queries/study/Diet/.qview.xml -text
onprc_ehr/resources/queries/study/Diet/Active[!!-~]Diets.qview.xml -text
onprc_ehr/resources/queries/study/Enrichment.js -text
onprc_ehr/resources/queries/study/Enrichment.query.xml -text
onprc_ehr/resources/queries/study/Foster[!!-~]Parents.js -text
onprc_ehr/resources/queries/study/Foster[!!-~]Parents.query.xml -text
onprc_ehr/resources/queries/study/Matings.js -text
onprc_ehr/resources/queries/study/Matings.query.xml -text
onprc_ehr/resources/queries/study/Matings/.qview.xml -text
onprc_ehr/resources/queries/study/Measurements.js -text
onprc_ehr/resources/queries/study/Microbiology[!!-~]Results.js -text
onprc_ehr/resources/queries/study/Microbiology[!!-~]Results.query.xml -text
onprc_ehr/resources/queries/study/Microbiology[!!-~]Results/.qview.xml -text
onprc_ehr/resources/queries/study/Morphologic[!!-~]Diagnosis.js -text
onprc_ehr/resources/queries/study/Morphologic[!!-~]Diagnosis.query.xml -text
onprc_ehr/resources/queries/study/Morphologic[!!-~]Diagnosis/.qview.xml -text
onprc_ehr/resources/queries/study/Pairings.js -text
onprc_ehr/resources/queries/study/Pregnancy[!!-~]Confirmations.js -text
onprc_ehr/resources/queries/study/Pregnancy[!!-~]Confirmations.query.xml -text
onprc_ehr/resources/queries/study/Serology[!!-~]Results.js -text
onprc_ehr/resources/queries/study/Serology[!!-~]Results.query.xml -text
onprc_ehr/resources/queries/study/Serology[!!-~]Results/.qview.xml -text
onprc_ehr/resources/queries/study/Tissue[!!-~]Measurements.js -text
onprc_ehr/resources/queries/study/Tissue[!!-~]Measurements.query.xml -text
onprc_ehr/resources/queries/study/Tissue[!!-~]Measurements/.qview.xml -text
onprc_ehr/resources/queries/study/Virology[!!-~]Results/.qview.xml -text
onprc_ehr/resources/queries/study/cases/Active[!!-~]Cases.qview.xml -text
onprc_ehr/resources/queries/study/currentBloodDraws.query.xml -text
onprc_ehr/resources/queries/study/currentBloodDraws.sql -text
onprc_ehr/resources/queries/study/currentBloodSummary.sql -text
onprc_ehr/resources/queries/study/flagsPivoted.sql -text
onprc_ehr/resources/queries/study/notesPivoted.sql -text
onprc_ehr/resources/referenceStudy/README -text
onprc_ehr/resources/referenceStudy/datasets/PrimateElectronicHealthRecord.dataset -text
onprc_ehr/resources/referenceStudy/datasets/datasets_manifest.xml -text
onprc_ehr/resources/referenceStudy/datasets/datasets_metadata.xml -text
onprc_ehr/resources/referenceStudy/study.xml -text
onprc_ehr/resources/schemas/dbscripts/postgresql/obsolete/onprc_ehr-12.20-12.21.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.30-12.301.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.301-12.302.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.302-12.303.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.303-12.304.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.304-12.305.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.305-12.306.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.307-12.308.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.309-12.310.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_billing-12.310-12.311.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_ehr-12.20-12.30.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_ehr-12.21-12.22.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_ehr-12.302-12.303.sql -text
onprc_ehr/resources/schemas/dbscripts/postgresql/onprc_ehr-12.308-12.309.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.30-12.301.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.301-12.302.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.302-12.303.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.303-12.304.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.304-12.305.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.305-12.306.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.307-12.308.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.309-12.310.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_billing-12.310-12.311.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_ehr-12.20-12.30.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_ehr-12.21-12.22.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_ehr-12.302-12.303.sql -text
onprc_ehr/resources/schemas/dbscripts/sqlserver/onprc_ehr-12.308-12.309.sql -text
onprc_ehr/resources/schemas/onprc_billing.xml -text
onprc_ehr/resources/schemas/onprc_ehr.xml -text
onprc_ehr/resources/scripts/onprc_ehr/etl.js -text
onprc_ehr/resources/scripts/onprc_ehr/onprc_triggers.js -text
onprc_ehr/resources/views/adminPage.html -text
onprc_ehr/resources/views/adminPage.view.xml -text
onprc_ehr/resources/views/adminPage.webpart.xml -text
onprc_ehr/resources/views/animalSearch.html -text
onprc_ehr/resources/views/animalSearch.view.xml -text
onprc_ehr/resources/views/animalSearch.webpart.xml -text
onprc_ehr/resources/views/begin.html -text
onprc_ehr/resources/views/begin.view.xml -text
onprc_ehr/resources/views/begin.webpart.xml -text
onprc_ehr/resources/views/coresPage.html -text
onprc_ehr/resources/views/coresPage.view.xml -text
onprc_ehr/resources/views/coresPage.webpart.xml -text
onprc_ehr/resources/views/ehrAdmin.html -text
onprc_ehr/resources/views/ehrAdmin.view.xml -text
onprc_ehr/resources/views/etlAdmin.html -text
onprc_ehr/resources/views/etlAdmin.view.xml -text
onprc_ehr/resources/views/financeManagement.html -text
onprc_ehr/resources/views/financeManagement.view.xml -text
onprc_ehr/resources/views/financeManagement.webpart.xml -text
onprc_ehr/resources/views/help.html -text
onprc_ehr/resources/views/help.view.xml -text
onprc_ehr/resources/views/help.webpart.xml -text
onprc_ehr/resources/views/labsPage.html -text
onprc_ehr/resources/views/labsPage.view.xml -text
onprc_ehr/resources/views/labsPage.webpart.xml -text
onprc_ehr/resources/views/moreReports.html -text
onprc_ehr/resources/views/moreReports.view.xml -text
onprc_ehr/resources/views/onprcLandingPage.html -text
onprc_ehr/resources/views/onprcLandingPage.view.xml -text
onprc_ehr/resources/views/onprcLandingPage.webpart.xml -text
onprc_ehr/resources/views/onprcMenu.html -text
onprc_ehr/resources/views/onprcMenu.view.xml -text
onprc_ehr/resources/views/onprcMenu.webpart.xml -text
onprc_ehr/resources/views/populateData.html -text
onprc_ehr/resources/views/populateData.view.xml -text
onprc_ehr/resources/views/quickSearch.html -text
onprc_ehr/resources/views/quickSearch.view.xml -text
onprc_ehr/resources/views/quickSearch.webpart.xml -text
onprc_ehr/resources/web/onprc_ehr/Utils.js -text
onprc_ehr/resources/web/onprc_ehr/billingButtons.js -text
onprc_ehr/resources/web/onprc_ehr/onprcReports.js -text
onprc_ehr/resources/web/onprc_ehr/panel/IconPanel.js -text
onprc_ehr/src/org/labkey/onprc_ehr/ONPRC_EHRBillingUserSchema.java -text
onprc_ehr/src/org/labkey/onprc_ehr/ONPRC_EHRController.java -text
onprc_ehr/src/org/labkey/onprc_ehr/ONPRC_EHRModule.java -text
onprc_ehr/src/org/labkey/onprc_ehr/ONPRC_EHRSchema.java -text
onprc_ehr/src/org/labkey/onprc_ehr/ONPRC_EHRTestHelper.java -text
onprc_ehr/src/org/labkey/onprc_ehr/etl/ETL.java -text
onprc_ehr/src/org/labkey/onprc_ehr/etl/ETLAuditViewFactory.java -text
onprc_ehr/src/org/labkey/onprc_ehr/etl/ETLRunnable.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/AbnormalLabResultsNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/AbstractEHRNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/AdminAlertsNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/BloodAdminAlertsNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/BloodAlertsNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/ColonyAlertsLiteNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/ColonyAlertsNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/ColonyMgmtNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/LabResultSummaryNotification.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/LabTestScheduleNotifications.java -text
onprc_ehr/src/org/labkey/onprc_ehr/notification/TreatmentAlerts.java -text
onprc_ehr/src/org/labkey/onprc_ehr/query/CustomPermissionsTable.java -text
onprc_ehr/src/org/labkey/onprc_ehr/security/ONPRCBillingAdminRole.java -text
onprc_ehr/src/org/labkey/onprc_ehr/security/ONPRCBillingPermission.java -text
onprc_ehr/src/org/labkey/onprc_ehr/table/ONPRC_EHRCustomizer.java -text
onprc_ehr/tools/installLabKey.sh -text
onprc_ehr/tools/installLabKeyPipeline.sh -text
onprc_ehr/tools/miscSqlScripts/deletedRecords.sql -text
onprc_ehr/tools/miscSqlScripts/miscTables.sql -text
onprc_ehr/tools/miscSqlScripts/qcStates.sql -text
onprc_ehr/tools/monit/activeMQ-monit.pl -text
onprc_ehr/tools/monit/munin-monitor.pl -text
onprc_ehr/tools/munin/http_load_ -text
onprc_ehr/tools/munin/sqlserver_ -text
onprc_ehr/tools/testserver_db_script.sql -text
