* text=auto !eol
GenotypeAssays/GenotypeAssays.iml -text
GenotypeAssays/module.properties -text
GenotypeAssays/resources/assay/GenotypeAssay/config.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/domains/batch.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/domains/result.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/domains/run.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/Batches.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/Data.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/Data/.qview.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/Runs.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/Runs/.qview.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/resultSummaryBySubject.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/resultSummaryBySubject.sql -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/resultSummaryBySubjectAndMethod.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/resultSummaryBySubjectAndMethod.sql -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/strConflicts.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/strConflicts.sql -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/strSummary.query.xml -text
GenotypeAssays/resources/assay/GenotypeAssay/queries/strSummary.sql -text
GenotypeAssays/resources/assay/GenotypeAssay/views/upload.html -text
GenotypeAssays/resources/assay/GenotypeAssay/views/upload.view.xml -text
GenotypeAssays/resources/assay/SSP_assay/config.xml -text
GenotypeAssays/resources/assay/SSP_assay/domains/batch.xml -text
GenotypeAssays/resources/assay/SSP_assay/domains/result.xml -text
GenotypeAssays/resources/assay/SSP_assay/domains/run.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/AlleleFrequencies.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/AlleleFrequencies.sql -text
GenotypeAssays/resources/assay/SSP_assay/queries/Batches.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/Data.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/Data/.qview.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/Runs.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/Runs/.qview.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/SSP_Pivot.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/SSP_Pivot.sql -text
GenotypeAssays/resources/assay/SSP_assay/queries/SSP_Summary.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/SSP_Summary.sql -text
GenotypeAssays/resources/assay/SSP_assay/queries/conflictingResults.query.xml -text
GenotypeAssays/resources/assay/SSP_assay/queries/conflictingResults.sql -text
GenotypeAssays/resources/assay/SSP_assay/views/upload.html -text
GenotypeAssays/resources/assay/SSP_assay/views/upload.view.xml -text
GenotypeAssays/resources/assay/SnpAssay/config.xml -text
GenotypeAssays/resources/assay/SnpAssay/domains/batch.xml -text
GenotypeAssays/resources/assay/SnpAssay/domains/result.xml -text
GenotypeAssays/resources/assay/SnpAssay/domains/run.xml -text
GenotypeAssays/resources/assay/SnpAssay/queries/Batches.query.xml -text
GenotypeAssays/resources/assay/SnpAssay/queries/Data.query.xml -text
GenotypeAssays/resources/assay/SnpAssay/queries/Data/.qview.xml -text
GenotypeAssays/resources/assay/SnpAssay/queries/Runs.query.xml -text
GenotypeAssays/resources/assay/SnpAssay/queries/Runs/.qview.xml -text
GenotypeAssays/resources/assay/SnpAssay/views/upload.html -text
GenotypeAssays/resources/assay/SnpAssay/views/upload.view.xml -text
GenotypeAssays/resources/module.xml -text
GenotypeAssays/resources/schemas/dbscripts/postgresql/genotypeassays-0.00-0.01.sql -text
GenotypeAssays/resources/schemas/dbscripts/postgresql/genotypeassays-0.02-0.03.sql -text
GenotypeAssays/resources/schemas/dbscripts/sqlserver/genotypeassays-0.00-0.01.sql -text
GenotypeAssays/resources/schemas/dbscripts/sqlserver/genotypeassays-0.02-0.03.sql -text
GenotypeAssays/resources/schemas/genotypeassays.xml -text
GenotypeAssays/resources/web/genotypeassays/data/UCDavis.txt -text
GenotypeAssays/resources/web/genotypeassays/window/CacheResultsWindow.js -text
GenotypeAssays/src/org/labkey/genotypeassays/GenotypeAssaysController.java -text
GenotypeAssays/src/org/labkey/genotypeassays/GenotypeAssaysManager.java -text
GenotypeAssays/src/org/labkey/genotypeassays/GenotypeAssaysModule.java -text
GenotypeAssays/src/org/labkey/genotypeassays/GenotypeAssaysSchema.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/DefaultGenotypeAssaysImportMethod.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/DefaultSnpAssayImportMethod.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/GenotypeAssayDataProvider.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/SNPAssayDataProvider.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/SSPAssayDataProvider.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/SSPAssayDefaultImportMethod.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/SSPImportHelper.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/SSPPivotingImportMethod.java -text
GenotypeAssays/src/org/labkey/genotypeassays/assay/UCDavisSTRImportMethod.java -text
GenotypeAssays/src/org/labkey/genotypeassays/buttons/CacheAnalysesButton.java -text
HormoneAssay/HormoneAssay.iml -text
HormoneAssay/module.properties -text
HormoneAssay/resources/assay/hormone/config.xml -text
HormoneAssay/resources/assay/hormone/domains/batch.xml -text
HormoneAssay/resources/assay/hormone/domains/result.xml -text
HormoneAssay/resources/assay/hormone/domains/run.xml -text
HormoneAssay/resources/assay/hormone/queries/Batches.query.xml -text
HormoneAssay/resources/assay/hormone/queries/Data.query.xml -text
HormoneAssay/resources/assay/hormone/queries/Data/.qview.xml -text
HormoneAssay/resources/assay/hormone/queries/Results[!!-~]Pivoted.query.xml -text
HormoneAssay/resources/assay/hormone/queries/Results[!!-~]Pivoted.sql -text
HormoneAssay/resources/assay/hormone/queries/Results[!!-~]Pivoted/.qview.xml -text
HormoneAssay/resources/assay/hormone/queries/Runs.query.xml -text
HormoneAssay/resources/assay/hormone/queries/Runs/.qview.xml -text
HormoneAssay/resources/assay/hormone/views/upload.html -text
HormoneAssay/resources/assay/hormone/views/upload.view.xml -text
HormoneAssay/resources/schemas/dbscripts/postgresql/hormoneassay-0.00-0.01.sql -text
HormoneAssay/resources/schemas/dbscripts/postgresql/hormoneassay-0.01-0.02.sql -text
HormoneAssay/resources/schemas/dbscripts/postgresql/hormoneassay-0.02-0.03.sql -text
HormoneAssay/resources/schemas/dbscripts/sqlserver/hormoneassay-0.00-0.01.sql -text
HormoneAssay/resources/schemas/dbscripts/sqlserver/hormoneassay-0.01-0.02.sql -text
HormoneAssay/resources/schemas/dbscripts/sqlserver/hormoneassay-0.02-0.03.sql -text
HormoneAssay/resources/schemas/hormoneassay.xml -text
HormoneAssay/resources/web/hormoneassay/SampleData/RocheE411.txt -text
HormoneAssay/src/org/labkey/hormoneassay/HormoneAssayController.java -text
HormoneAssay/src/org/labkey/hormoneassay/HormoneAssayDataProvider.java -text
HormoneAssay/src/org/labkey/hormoneassay/HormoneAssayManager.java -text
HormoneAssay/src/org/labkey/hormoneassay/HormoneAssayModule.java -text
HormoneAssay/src/org/labkey/hormoneassay/HormoneAssaySchema.java -text
HormoneAssay/src/org/labkey/hormoneassay/assay/DefaultImportMethod.java -text
HormoneAssay/src/org/labkey/hormoneassay/assay/PivotedImportMethod.java -text
HormoneAssay/src/org/labkey/hormoneassay/assay/RocheE411ImportMethod.java -text
