<h2><span style="font-size: large;"><b>SLA Purchase </b></span></h2>
<p>SLA purchase module is for PIs and staff to initiate purchase orders for rodents. It is administered by SLAU staff to ensure quality control and compliance with applicable federal regulations and guidelines. Only authorized personnel are allowed to place rodent orders. If you need access to the module, please contact <b>sla_services@ohsu.edu</b>.</p>
<p><strong><a href="/project/ONPRC/SLA/Purchase/begin.view?">Click here to go to SLA Purchase Module</a></strong></p>
<br>
<p>Click the link below to view the SLA groups & breeding information for the protocols. This information is retrieved daily from the eIACUC database.</p>
<p><strong><a href="/query/ONPRC/SLA/executeQuery.view?schemaName=ehrSLA&query.queryName=ProtocolProjectsAndBreedingInfo">SLA Groups & Breeding Information</a>&nbsp</strong></p>
<br>
<h2><span style="font-size: large;"><b>SLA Weaning </b></span></h2>
<p>SLA weaning module is used by SLAU staff to record the rodent births and documenting the number of animals weaned.<br> Weaned mice are entered into SLA purchase module as they need to be subtracted from the protocol's SLA allowance numbers.</p>
<p><strong><a href="http://localhost:8080/labkey/ldk/ONPRC/SLA/updateQuery.view?schemaName=sla&query.queryName=Weaning">Click here to view/upload the weaning data</a>&nbsp</strong></p>
<!--<p><strong><a href="/query/ONPRC/SLA/executeQuery.view?schemaName=ehrSLA&query.queryName=Weaning">Click here to view/upload the weaning data</a>&nbsp</strong></p>-->
<br>
<h2><span style="font-size: large;"><b>SLA Census </b></span></h2>
<p>SLA census module is used by SLAU staff to maintain rodent demographic and location data and billing. Please click on the links below for specific operations.</p>
<h3><span style="font-size: large;"><b><i>Entering Animals:</i></b></span></h3>
<address>
    <p><strong><a href="/ehr/ONPRC/SLA/dataEntryForm.view?formType=SLA%20Census">SLA Census - Entry Screen</a></strong></p>
    <p><strong><a href="/ehr/onprc/sla/enterData.view">SLA Census - Edit&nbsp;Previous Record Menu</a>&nbsp;</strong>&nbsp;- Choose "All Tasks" navigational tab and click the mouse on the task id to edit a record.</p>
    <p><strong><a href="/sla/ONPRC/SLA/censusBulkEdit.view?">SLA Census - Bulk Editing Grid</a>&nbsp; -&nbsp;</strong>Allows editing more than one Census records.</p>
    <p><strong><a href="/EHR/ONPRC/EHR/dataEntryForm.view?formType=arrival">SLA - Entry Grid for Rabbits / Guinea Pigs</a>&nbsp; -&nbsp;</strong>Web link to enter new Rabbits and Guinea Pig records.</p>
</address>
<h3><span style="font-size: large;"><b><i>Entering Charges:</i></b></span></h3>
<address>
    <p><strong><a href="/query/ONPRC/EHR/executeQuery.view?schemaName=onprc_billing&amp;query.queryName=miscChargesFees">Misc Charges - Grid</a>&nbsp;-&nbsp;</strong>This format is best for export to Excel.</p>
    <p><strong><a href="/ehr/ONPRC/EHR/dataEntryForm.view?formType=miscCharges">Misc Charges - Entry Form</a></strong></p>
    <p><strong><a href="/onprc_ehr/onprc/ehr/enterData.view">Return to "My Task/All Task" Page</a><a href="/ehr/ONPRC/EHR/dataEntryForm.view?formType=miscCharges">&nbsp;</a></strong></p>
</address>
<h3><span style="font-size: large;"><b><i>Reports:</i></b></span></h3>
<address>
    <p><strong><a href="/EHR/ONPRC/SLA/executeQuery.view?schemaName=sla&amp;query.queryName=census">SLA Census - Grid</a></strong></p>
    <p><strong><a href="https://pcdbssrsprd1.ohsu.edu/ReportServer/Pages/ReportViewer.aspx?%2fPrime+Reports%2fSLA+Reports%2fSLACensusMainReport_Project&amp;rs:Command=Render">SLA Census - Printed Report</a>&nbsp;-&nbsp;</strong>Center Project &amp; Date Range required.</p>
    <p><strong><a href="https://pcdbssrsprd1.ohsu.edu/ReportServer/Pages/ReportViewer.aspx?%2fPrime+Reports%2fSLA+Reports%2fSLACensusSummaryReport&amp;rs:Command=Render">SLA Census - Summary Printed Report</a>&nbsp;-&nbsp;</strong>Center Project &amp; Date Range required.<strong></strong></p>
    <p><strong><a href="https://pcdbssrsprd1.ohsu.edu/ReportServer/Pages/ReportViewer.aspx?%2fPrime+Reports%2fSLA+Reports%2fSmallLabCensusSheet&amp;rs:Command=Render"><strong>Monthly Census - Mouse Sheets</strong></a></strong><strong></strong></p>
    <p><strong><a href="https://pcdbssrsprd1.ohsu.edu/ReportServer/Pages/ReportViewer.aspx?%2fPrime+Reports%2fSLA+Reports%2fSmallLabCensusRatSheet&amp;rs:Command=Render">Monthly Census - Rat Sheets</a></strong></p>
    <p><strong><a href="https://pcdbssrsprd1.ohsu.edu/ReportServer/Pages/ReportViewer.aspx?%2fPrime+Reports%2fSLA+Reports%2fRabbitCensusSheet&amp;rs:Command=Render">Monthly Census - Rabbit or GP Sheets</a></strong></p>
</address>