.app-headeramended {
    background   : transparent;
    color        : #0072BB;
    font-size    : 1.5em;
    line-height  : 1.4;
    padding-left : 80px !important;
}
.header-month {
    font-weight  : bold;
    color:blue;
    font-size: 24px;
    margin-right : 20px;
}

.header-year {
    font-weight : bold;
    font-size: 24px;
    color:blue;
}


.infopanelamended {
    border-top : 1px solid #d0d0d0;,
}

.infopanelamended,
.infopanelamended .x-panel-body,
.infopanelamended .x-panel-header-default {
    background : transparent;
}

.resources .x-panel-header-default {
    padding-top    : 0;
}

.resources .x-form-cb-label {
    cursor: pointer;
}

.infopanelamended .x-title-text {
    color : #999;
    /*color : #8c001a;*/
}



.navigationbaramended {
    background : #0072BB;
}

.navigationbaramended .x-btn {
    background      : transparent !important;
    border          : 0 none !important;
}

.navigationbarAmended .x-title-text {
    color        : #fff;
    font-size    : 1.4em;
    line-height  : 1.5;
    padding-left : 5px;
}





body.x-body {
    background : #f5f5f5;
}