<script type="text/javascript">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.create('Ext.panel.Panel', {
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'Please see the User Manual for step-by-step instructions.\n' +
                        '\n' +
                        'To change a future event, please delete the incorrect entry and create a new one.\n' +
                        'To change a past event, please email Wendy Price with an explanation or you will be billed.\n' +
                        '\n' +
                        'If you have any questions about using Scheduler, please contact onprcitsupport@ohsu.edu.  We\'re happy to help via email or meet with you to demonstrate.',
                style: 'padding-bottom: 10px;'
            },{
                xtype: 'ldk-navpanel',
                sections: [{
                    header: 'Scheduler Menus',
                    items: [{

                        name: 'View Necropsy Scheduler Calendar',

                        url: LABKEY.ActionURL.buildURL('extscheduler', 'weeklyTest', null, {
                        //     url: LABKEY.ActionURL.buildURL('extscheduler', 'NecropsyweeklyTest', null, {
                            //     var schedulerAppLink = LABKEY.ActionURL.buildURL('extscheduler', 'NecropsyWeeklySC', null, {
                            returnUrl: window.location.pathname + window.location.search
                        })
                    },{

                        name: 'View Scheduler Present/Future Resource and Events Reports',
                        url: LABKEY.ActionURL.buildURL('extscheduler', 'weeklyScheduler', null, {
                            //     var schedulerAppLink = LABKEY.ActionURL.buildURL('extscheduler', 'NecropsyWeeklySC', null, {
                            // returnUrl: window.location.pathname + window.location.search
                        })

                     }]


                 }]
            }]
        }).render(webpart.wrapperDivId);
    });

</script>