<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        var container = LABKEY.getModuleProperty('ehr_compliancedb', 'EmployeeContainer');
        if (!container){
            Ext4.get(webpart.wrapperDivId).update('Error: the containerPath to the folder holding compliance data has not been set.  Please contact your administrator.')
            return;
        }
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx) {
            return;
        }

        var employeeDefaultView = LABKEY.getModuleProperty('ehr_compliancedb', 'EmployeeDefaultView');

        // if (EHR.Security.hasPermission(EHR.QCStates.COMPLETED, 'update', [{schemaName: 'ehr_compliancedb', queryName: 'employees'}])) {

        Ext4.create('LDK.panel.NavPanel', {
            renderTo: webpart.wrapperDivId,
            width: 450,
            sections: [{
                    header: 'Employee Reports',
                items: [{
                    name: 'Employee List', url: '<%=contextPath%>/query' + container + '/executeQuery.view?schemaName=ehr_compliancedb&query.queryName=Employees&query.viewName=' + employeeDefaultView
                },{
                    name: 'Employees Completed Requirements', url: '<%=contextPath%>/query' + container + '/executeQuery.view?schemaName=ehr_compliancedb&query.queryName=CompletionDates'
                },{
                    name: 'Employees Per Unit/Category', url: '<%=contextPath%>/query' + container + '/executeQuery.view?schemaName=ehr_compliancedb&query.queryName=employeeperUnit'

                }]
            },{

                header: 'Employee Input Forms',
                items: [{

                    name: 'Employee Per Unit/Category Form', url: LABKEY.ActionURL.buildURL('ehr','dataEntryForm', '/ONPRC/Admin/Compliance',{formType: 'employeeunitrecords'})

                }]
            },{

                header: 'Printable Reports',
                items: [{
                    name: 'Employees Summary Report', url: LABKEY.ActionURL.buildURL('ONPRC_EHR_ComplianceDB', 'printableComplianceReports', LABKEY.ActionURL.getContainer())
                },{
                    name: 'Respirator Protection Report - All', url: ctx['SSRSServerURL'] +'%2fPrime+Reports%2fCompliance%2fRespiratorProtectionFull&rs:Command=Render'
                },{
                    name: 'Respirator Protection Report - Quarantine', url: ctx['SSRSServerURL'] +'%2fPrime+Reports%2fCompliance%2fRespiratorProtectionQuarantine&rs:Command=Render'

                }]
            }]
        });
    });

</script>