<script type="text/javascript" nonce="<%=scriptNonce%>">

    <!--Replaced this code with SSRS Reports interface  10-17-2019  R.Blasa -->

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        ONPRC.Utils.preloadSession();

        Ext4.define('ONPRC.panel.PrintableComplianceReportsPanel', {
            itemId: 'sheetPanel',
            extend: 'Ext.panel.Panel',

            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    defaults: {
                        border: false
                    },
                    items: this.getItems()

                });

                this.callParent();
            },

            getItems: function() {
                var container = '/ONPRC/Admin/Compliance/';
                var items = [{
                    html: 'NOTE:' +
                    '<br>Click the button below to display the Employee\'s Summary Report.  The program will display a report of all training requirements for each employee.</b>',
                    style: 'padding-bottom: 20px;'
                }];
                items.push({
                    layout: {
                        type: 'table',
                        columns: 5,
                        tdAttrs: {
                            valign: 'top'
                        }
                    },
                    defaults: {
                        border: false
                    },
                    items: [{
                        html: '<i>Report by Supervisor:</i>'
                    },{
                        style: 'padding-left: 5px;',
                        html: '<br><br><br>'
                    }, {
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'Print Version',
                        border: true,
                        getUrlString: function ()
                        {
                            const params = ONPRC.Utils.getSsrsParams({}, true, true);
                            return ONPRC.Utils.getSsrsReportUrl('Compliance/EmployeeComplianceSuperXMLReport', params);
                        },
                        menu: [{
                            text: 'Print',
                            handler: function(menu){
                                var btn = menu.up('button');
                                var url = btn.getUrlString();
                                if (!url)
                                    return;

                                window.open(url);
                            }
                        }]
                    }]
                 },{

                    html: '<i>Report by Employee(s):</i>'  //Added: 10-17-2019  R.Blasa
                },{
                    style: 'padding-left: 5px;',
                    html: ''
                },{
                    xtype: 'button',
                    style: 'margin-left: 150px;',
                    text: 'Print Version',
                    border: true,
                    getUrlString: function() {
                        const params = ONPRC.Utils.getSsrsParams({}, true, true);
                        return ONPRC.Utils.getSsrsReportUrl('Compliance/EmployeeComplianceEmpXMLReport', params);
                    },
                    menu: [{
                        text: 'Print',
                        handler: function(menu){
                            var btn = menu.up('button');
                            var url = btn.getUrlString();
                            if (!url)
                                return;

                            window.open(url);
                        }
                    }]

                });
                return items;
            }
    });


    Ext4.create('ONPRC.panel.PrintableComplianceReportsPanel', {

        }).render(webpart.wrapperDivId);
    });

</script>