
.x4-form-item,
.x4-form-field {
    font: normal 14px "Arial", Arial, Helvetica, sans-serif; }

.x4-grid-editor
.x4-form-text{font: normal 14px/13px 'Roboto',Arial,Helvetica,sans serif;padding:1px 5px 2px 5px;height:20px;}