<script type="text/javascript">

Ext4.onReady(function (){
    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
        return;

    var domSpec = {
        tag: 'div',
        children: [{
            tag: 'p',
            html: 'This page contains reports identify animals based on multiple criteria.'
        },{
            html: '<b>Browse Animals:</b>'
        },{
            tag: 'ul',
            children: [{
                tag: 'li',
                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=Alive%2C at Center">All Living Center Animals</a>'
            },{
                tag: 'li',
                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics">All Center Animals</a>'
//            },{
//                tag: 'li',
//                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.Id/currentAssignments/availability~contains=b">Assigned To Breeding</a>'
//            },{
//                tag: 'li',
//                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=Living With SIV">Living With SIV</a>'
//            },{
//                tag: 'li',
//                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=SSP_Pivot">MHC SSP Data</a>'
//            },{
//                tag: 'li',
//                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=TB Older Than 4 Months">TB: Untested In Past 4 months</a>'
//            },{
//                tag: 'li',
//                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=Unassigned%20Animals">Unassigned Animals</a>'
            },{
                tag: 'li',
                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=Unweighed%20Over%2045%20Days">Unweighed In Past 45 Days</a>'
            }]
        },{
            html: '<b>Other Searches:</b>'
        },{
            tag: 'ul',
            children: [{
                tag: 'li',
                html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=colonyPopulationByAge">Population Summary By Species, Gender and Age</a>'
            },{
                tag: 'li',
                html: '<a href="<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/housingOverlaps.view?groupById=1">Find Animals Housed At The Center Over A Date Range</a>'
            }]
        },{
            tag: 'div',
            style: 'padding-top: 20px;',
            id: 'animalSearch_'+webpart.wrapperDivId
        }]
    }

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);

    Ext4.create('LABKEY.ext4.SearchPanel', {
        schemaName: 'study',
        queryName: 'Demographics',
        viewName: 'Search Panel',
        title: 'Search Animals',
        defaultViewName: 'Alive, at Center',
        LABEL_WIDTH: 200,
        width: 660,
        metadata: {
            Id: {lookups: false},
            'Id/age/AgeInYearsRounded': {duplicate: true},
            'Id/MostRecentWeight/MostRecentWeight': {duplicate: true}
        }
    }).render('animalSearch_'+webpart.wrapperDivId);
});

</script>