
<!--Created 9-25-2025 R.Blasa-->


<div id="qwpDiv" />

<script type="text/javascript" nonce="<%=scriptNonce%>">

    var ehrContainer = '/ONPRC/EHR';
    var wp = new LABKEY.QueryWebPart({
        containerPath: ehrContainer,
        schemaName : 'study',
        queryName : 'pairings',
        showRecordSelectors : true,
        renderTo: 'qwpDiv',
        buttonBar: {
            includeStandardButtons: true,
            items:[
                {text: 'Bulk Edit', requiresSelection : true, handler: function(dataRegion){
                        if (dataRegion) {
                            var url = LABKEY.ActionURL.buildURL('query', 'updateQueryRows.view', null, {
                                schemaName: dataRegion.schemaName,
                                'query.queryName': dataRegion.queryName,
                                dataRegionSelectionKey: dataRegion.selectionKey,
                                returnUrl:window.location
                            });
                            var form = dataRegion.form;
                            if (form && verifySelected.call(this, form, url, 'POST', 'rows')) {
                                submitForm(form);

                            }
                            return false;
                        }
                    }}
            ]
        }

    });
    wp.render();
</script>


