
<script type="text/javascript">
    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx)
            return;


    Ext4.create('Ext.panel.Panel', {
            width: 400,
            border: false,
            defaults: {
                labelWidth: 180
            },
            items: [{
                xtype: 'textarea',
                width: 300,
                height: 200,
                fieldLabel: 'Enter Animal Id(s)',
             itemId: 'animalField'
            }],
    buttons: [{
    text: 'Submit',
    scope: this,
    handler: function(btn) {
        var val = btn.up('panel').down('#animalField').getValue();
        if (!val){
            Ext4.Msg.alert('Error', 'Must enter at least one animal Id');
            return;
         }

        // Split the user's input into separate IDs
        var subjectArray = LDK.Utils.splitIds(val, true);

        // Iterate through the IDs
        Ext4.Array.each(subjectArray, function(subj) {
            // Add a new <div> to the page where the query results should go
        var elementId = 'subject' + subj;
        var newElement = document.createElement('div');
        newElement.id = elementId;
        document.getElementById('resultsArea').appendChild(newElement);
                // Run the query filtered to that one animal
                   new LABKEY.QueryWebPart({
                   schemaName: 'study',
                   queryName: 'CMU_P2Review',
                   title: subj,
                   filters: [
                                LABKEY.Filter.create('Id', subj)
                            ]
                   }).render(elementId);

         }, this);
                }
            }]
    }).render('searchPanel');
    });
</script>

<div id="searchPanel">

    </div>
<div id="resultsArea">

    </div>