<script type="text/javascript" nonce="<%=scriptNonce%>">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            '<div class="ehr-tool-icon-wrapper-lg">' +
                '<div class="ehr-tool-icon-lg tool-icon">' +
                   '<a href="<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view"><img src="<%=contextPath%>/ehr/icons/icon_browse_lg.png">Browse Data</a>' +
                '</div>' +
            '</div>' +
            '<div class="ehr-tool-icon-wrapper-lg">' +
                '<div class="ehr-tool-icon-lg tool-icon">' +
                    '<a href="<%=contextPath%>/onprc_ehr' + ctx['EHRStudyContainer'] + '/enterData.view"><img src="<%=contextPath%>/ehr/icons/icon_data_lg.png">Enter Data</a>' +
                '</div>' +
            '</div>' +
            '<div class="ehr-tool-icon-wrapper-lg">' +
                '<div class="ehr-tool-icon-lg tool-icon">' +
                    '<a href="<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/colonyOverview.view"><img src="<%=contextPath%>/ehr/icons/icon_center_lg.png">Colony Overview</a>' +
                '</div>' +
            '</div>'
        );

    });
</script>