<script type="text/javascript" nonce="<%=scriptNonce%>">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
    return;

    var groupName = LABKEY.ActionURL.getParameter('groupName');
        var roomName = LABKEY.ActionURL.getParameter('room');

        Ext4.create('Ext.panel.Panel', {
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'This page is designed to provide information to help with processing of animal groups.  Each of these reports can be loaded either by animal group or by room.  To load it on the entire colony, leave both combos blank.',
                style: 'margin-bottom: 20px;'
    },{
    xtype: 'checkcombo',    //Added: 10-12-2020  R.Blasa
    itemId: 'groupName',
    displayField: 'name',
    valueField: 'name',
    width: 300,
    multiSelect: true,
    addAllSelector: true,
    fieldLabel: 'Breeding Group(s)',
    store: {
        type: 'labkey-store',
        containerPath: ctx['EHRStudyContainer'],
        schemaName: 'ehr',
        queryName: 'animal_groups',
        viewName: 'Active Groups',
        columns: 'name, rowid',
        sort: 'name',
        filterArray: [LABKEY.Filter.create('enddate', null, LABKEY.Filter.Types.ISBLANK)],
        autoLoad: true

    }
    },{
    xtype: 'ehr-areafield',
    itemId: 'areaField',
    addAllSelector: true,
    editable: true,
    fieldLabel: 'Area(s)',
    width: 300,
    pairedWithRoomField: true,
    getRoomField: function(){
    return this.up('panel').down('#room');
                                    }
                                },{
                                    xtype: 'ehr-roomfield',
                                    itemId: 'room',
                                    addAllSelector: true,
                                    width: 300,
                                    fieldLabel: 'Room(s)',
    multiSelect: true,
    listeners: {
        change: function(field){
        var areaField = field.up('panel').down('#areaField');
        areaField.reset();
    }
    }
    },{
    xtype:'textarea',    //Added: 7-27-2017  R.Blasa
    itemId: 'animalField',
    width: 295,
    height: 100,
    fieldLabel: 'Enter Animal ID'
    },{
    html: '',
    style: 'margin-bottom: 10px;'
    },{
    html: '<hr>'
    },{
    html: '<hr><b>Blood Summary Report:</b>',
    style: 'margin-bottom: 10px;'
    },{
    html: 'This report will summarize blood needed for viral surveillance and genetics, based on the criteria outlined below for those reports.  Either of these can be run individually using the sections below.<br>',
    style: 'margin-bottom: 10px;'
    },{
    xtype: 'button',
    style: 'margin-bottom: 10px;',
    border: true,
    text: 'View Report',
    scope: this,
    handler: function(btn){
    var groupName = btn.up('panel').down('#groupName').getValue() || [];
                groupName = Ext4.isArray(groupName) ? groupName: [groupName];
                var room = btn.up('panel').down('#room').getValue() || [];
                room = Ext4.isArray(room) ? room: [room];

                    var field = btn.up('panel').down('#animalField');
                    var animalid = field.getValue() || [];
                if (!Ext4.isEmpty(animalid)){
                    animalid = Ext4.String.trim(animalid);
                    animalid = animalid.replace(/[\s,;]+/g, ';');
                     animalid = animalid.replace(/(^;|;$)/g, '');
                    }
                 animalid = Ext4.isArray(animalid) ? animalid: [animalid];

                var params = {
                    schemaName: 'study',
                    'query.queryName': 'processingBloodDraws',
                    'query.Id/demographics/calculated_status~eq': 'Alive'
                };

               if (!Ext4.isEmpty(groupName))
                params['query.Id/activeAnimalGroups/groups~in'] = groupName.join(';');

                if (!Ext4.isEmpty(room))
                params['query.Id/curLocation/room~in'] = room.join(';');

                if (!Ext4.isEmpty(animalid))
                params['query.Id~in'] = animalid.join(';');

                window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))
                }
            },
            //Modified by Kollil, 9/19/23
            // As per Tkt# 9767, this section is deleted from the page.

            // {
            //     html: '<hr><b>Blood Needed For Viral Surveillance:</b>',
            // style: 'margin-bottom: 10px;'
            // },{
            //     html: 'This report will summarize blood needed for viral surveillance based on the following criteria:<br>' +
            //     '- 4mL is required for HBV testing on all SPF animals over 180 days old that have not been HBV tested during this calendar year<br>' +
            //     '- 4mL is required for SRV testing for all Japanese Macaques, and non-SPF Cynos that have not been testing during this calendar year',
            //     style: 'margin-bottom: 10px;'
            // },{
            //     xtype: 'button',
            //     style: 'margin-bottom: 10px;',
            //     border: true,
            //     text: 'View Report',
            //     scope: this,
            //     handler: function(btn){
            //     var groupName = btn.up('panel').down('#groupName').getValue() || [];
            //     groupName = Ext4.isArray(groupName) ? groupName: [groupName];
            //
            //     var room = btn.up('panel').down('#room').getValue() || [];
            //     room = Ext4.isArray(room) ? room: [room];
            //
            //     var field = btn.up('panel').down('#animalField');
            //     var animalid = field.getValue() || [];
            //     if (!Ext4.isEmpty(animalid)){
            //     animalid = Ext4.String.trim(animalid);
            //     animalid = animalid.replace(/[\s,;]+/g, ';');
            //     animalid = animalid.replace(/(^;|;$)/g, '');
            //     }
            //     animalid = Ext4.isArray(animalid) ? animalid: [animalid];
            //
            //     var params = {
            //     schemaName: 'study',
            //     'query.queryName': 'processingSerology',
            //     'query.Id/demographics/calculated_status~eq': 'Alive',
            //     'query.bloodVol~gt': 0
            // };
            //
            //     if (!Ext4.isEmpty(groupName))
            //     params['query.Id/activeAnimalGroups/groups~in'] = groupName.join(';');
            //
            //     if (!Ext4.isEmpty(room))
            //     params['query.Id/curLocation/room~in'] = room.join(';');
            //
            //     if (!Ext4.isEmpty(animalid))
            //     params['query.Id~in'] = animalid.join(';');
            //
            //     window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))
            // }
            // },
                {
                html: '<hr><b>Blood Needed For Genetic Testing:</b>',
                style: 'margin-bottom: 10px;'
            },{
                html: 'This report will summarize blood needed for genetic testing, using the following criteria:<br>' +
                '- 1mL of blood is needed for Parentage testing on all animals that do not already have genetic parentage data, unless the animal has been flagged as previously drawn.<br>' +
                '- 1mL of blood is needed for MHC Typing on all U42 Indian-origin rhesus macaques (males and females, under 5 years old) and all male Indian rhesus under 5 years old only for non-U42, and all ESPF rhesus macaques (any NHP assigned to 0492-03), unless the animal already has MHC data or has been flagged as previously drawn.<br>' +
                '- Minimum 5mL of blood is needed for the DNA Bank on every animal (listed as 6mL in the report), unless one of the following samples is already in the freezer: any gDNA, buffy coat >=5mL or whole blood >=5mL',
                style: 'margin-bottom: 10px;'
            },{
                xtype: 'button',
                style: 'margin-bottom: 10px;',
                border: true,
                text: 'View Report',
                scope: this,
                handler: function(btn){
                var groupName = btn.up('panel').down('#groupName').getValue() || [];
                groupName = Ext4.isArray(groupName) ? groupName: [groupName];
                var room = btn.up('panel').down('#room').getValue() || [];
                room = Ext4.isArray(room) ? room: [room];

                var field = btn.up('panel').down('#animalField');
                var animalid = field.getValue() || [];
                if (!Ext4.isEmpty(animalid)){
                animalid = Ext4.String.trim(animalid);
                animalid = animalid.replace(/[\s,;]+/g, ';');
                animalid = animalid.replace(/(^;|;$)/g, '');
                 }
                animalid = Ext4.isArray(animalid) ? animalid: [animalid];

                var params = {
                schemaName: 'study',
                'query.queryName': 'processingGeneticsBloodDraws',
                'query.Id/demographics/calculated_status~eq': 'Alive',
                'query.totalBloodDrawVol~gt': 0
            };

                if (!Ext4.isEmpty(groupName))
                params['query.Id/activeAnimalGroups/groups~in'] = groupName.join(';');

                if (!Ext4.isEmpty(room))
                params['query.Id/curLocation/room~in'] = room.join(';');

                if (!Ext4.isEmpty(animalid))
                params['query.Id~in'] = animalid.join(';');

                window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))
            }
            },{
                html: '<hr><b>TB Testing:</b>',
                style: 'margin-bottom: 10px;'
            },{
                html: 'This report will show the last TB test date for members of this group.',
                style: 'margin-bottom: 10px;'
            },{
                xtype: 'button',
                style: 'margin-bottom: 10px;',
                border: true,
                text: 'View Report',
                scope: this,
                handler: function(btn){
                var groupName = btn.up('panel').down('#groupName').getValue() || [];
                groupName = Ext4.isArray(groupName) ? groupName: [groupName];
                var room = btn.up('panel').down('#room').getValue() || [];
                room = Ext4.isArray(room) ? room: [room];

                var field = btn.up('panel').down('#animalField');
                var animalid = field.getValue() || [];
                if (!Ext4.isEmpty(animalid)){
                animalid = Ext4.String.trim(animalid);
                animalid = animalid.replace(/[\s,;]+/g, ';');
                animalid = animalid.replace(/(^;|;$)/g, '');
                }
                animalid = Ext4.isArray(animalid) ? animalid: [animalid];

                var params = {
                schemaName: 'study',
                'query.queryName': 'demographicsMostRecentTBDate',
                'query.Id/demographics/calculated_status~eq': 'Alive'
            };

                if (!Ext4.isEmpty(groupName))
                params['query.Id/activeAnimalGroups/groups~in'] = groupName.join(';');

                if (!Ext4.isEmpty(room))
                params['query.Id/curLocation/room~in'] = room.join(';');


                if (!Ext4.isEmpty(animalid))
                params['query.Id~in'] = animalid.join(';');

                window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))
            }
            },{
                html: '<hr><b>Ivermectin Treatments:</b>',
                style: 'margin-bottom: 10px;'
            },{
                html: 'This report will show the last date ivermectin was given to each member of this group.',
                style: 'margin-bottom: 10px;'
            },{
                xtype: 'button',
                style: 'margin-bottom: 10px;',
                border: true,
                text: 'View Report',
                scope: this,
                handler: function(btn){
                var groupName = btn.up('panel').down('#groupName').getValue() || [];
                groupName = Ext4.isArray(groupName) ? groupName: [groupName];
                var room = btn.up('panel').down('#room').getValue() || [];
                room = Ext4.isArray(room) ? room: [room];

                var field = btn.up('panel').down('#animalField');
                var animalid = field.getValue() || [];
                if (!Ext4.isEmpty(animalid)){
                animalid = Ext4.String.trim(animalid);
                animalid = animalid.replace(/[\s,;]+/g, ';');
                animalid = animalid.replace(/(^;|;$)/g, '');
                 }
                animalid = Ext4.isArray(animalid) ? animalid: [animalid];
                var params = {
                schemaName: 'study',
                'query.queryName': 'processingIvermectin',
                'query.Id/demographics/calculated_status~eq': 'Alive'
            };

                if (!Ext4.isEmpty(groupName))
                params['query.Id/activeAnimalGroups/groups~in'] = groupName.join(';');

                if (!Ext4.isEmpty(room))
                params['query.Id/curLocation/room~in'] = room.join(';');


                if (!Ext4.isEmpty(animalid))
                params['query.Id~in'] = animalid.join(';');

                window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))
            }
            },{
                html: '<hr><b>Clinical PE Information:</b>',
                style: 'margin-bottom: 10px;'
            },{
                html: 'This report will produce a simple list of these animals, showing age, weight, etc.',
                style: 'margin-bottom: 10px;'
            },{
                xtype: 'button',
                style: 'margin-bottom: 10px;',
                border: true,
                text: 'View Report',
                scope: this,
                handler: function(btn){
                var groupName = btn.up('panel').down('#groupName').getValue() || [];
                groupName = Ext4.isArray(groupName) ? groupName: [groupName];
                var room = btn.up('panel').down('#room').getValue() || [];
                room = Ext4.isArray(room) ? room: [room];

                var field = btn.up('panel').down('#animalField');
                var animalid = field.getValue() || [];
                if (!Ext4.isEmpty(animalid)){
                animalid = Ext4.String.trim(animalid);
                animalid = animalid.replace(/[\s,;]+/g, ';');
                animalid = animalid.replace(/(^;|;$)/g, '');
                }
                animalid = Ext4.isArray(animalid) ? animalid: [animalid];

                var params = {
                schemaName: 'study',
                'query.queryName': 'demographics',
                'query.Id/demographics/calculated_status~eq': 'Alive',
                //'query.columns': 'Id,gender,Id/age/yearAndDays,Id/mostRecentWeight/MostRecentWeight'
                'query.viewName': 'Clinical PE Form'
            };
                if (!Ext4.isEmpty(groupName))
                params['query.Id/activeAnimalGroups/groups~in'] = groupName.join(';');

                if (!Ext4.isEmpty(room))
                params['query.Id/curLocation/room~in'] = room.join(';');

                if (!Ext4.isEmpty(animalid))
                params['query.Id~in'] = animalid.join(';');

                window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))
            }

            }]
            }).render(webpart.wrapperDivId);
            });

</script>
