<script type="text/javascript">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId, ['EHRIssuesContainer', 'EHRDocumentationContainer']);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            '<div style="max-width:300px;">' +
                '<a href="' + LABKEY.ActionURL.buildURL('project', 'begin', ctx['EHRDocumentationContainer']) + '">Click here for general information on how to use the EHR</a></li>' +
                '<p></p>' +
                '<a href="' + LABKEY.ActionURL.buildURL('issues', 'insert', ctx['EHRIssuesContainer']) + '" target="new">Click here to submit a support request, feature requests, or report bugs</a>' +
            '</div>'
        );
    });

</script>