<script type="text/javascript">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId, ['EHRIssuesContainer', 'EHRDocumentationContainer']);
        if(!ctx)
            return;

        Ext4.get(webpart.wrapperDivId).update(
            '<div style="max-width:350px;">' +
                '<li>Click <a href="' + LABKEY.ActionURL.buildURL('project', 'begin', ctx['EHRDocumentationContainer']) + '">here</a> for general information on how to use the EHR</li>' +
                    '<p></p>' +
                '<li>If you have any comments, questions or feature requests, please submit them through the <a href="' + LABKEY.ActionURL.buildURL('issues', 'list', ctx['EHRIssuesContainer']) + '" target="new">EHR Issue Tracker</a></li>' +
            '</div>'
        );
    });

</script>