<script type="text/javascript">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
        return;

    var invoiceRunId = LABKEY.ActionURL.getParameter('invoiceRunId');
    if (!invoiceRunId){
        Ext4.Msg.alert('Error', 'Must provide an invoiceId');
        return;
    }

    var domSpec = [{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'invoiceDetails_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'tabpanel_' + webpart.wrapperDivId
    }];

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);

    Ext4.widget({
        border: false,
        xtype: 'labkey-detailspanel',
        showTitle: false,
        showBackBtn: false,
        store: {
            schemaName: 'onprc_billing',
            queryName: 'invoiceRuns',
            filterArray: [
                LABKEY.Filter.create('objectid', invoiceRunId, LABKEY.Filter.Types.EQUAL)
            ],
            listeners: {
                scope: this,
                load: function(store){
                    var rec = store.getAt(0);
                    if (!rec)
                        return;

                    Ext4.define('ONPRC_EHR.panel.InvoiceDetailsPanel', {
                        extend: 'Ext.panel.Panel',

                        initComponent: function(){
                            var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);

                            var startDate = rec.get('billingPeriodStart') ? rec.get('billingPeriodStart').clearTime() : null;
                            var endDate = rec.get('billingPeriodEnd') ? rec.get('billingPeriodEnd').clearTime() : null;
                            var startDateString = startDate ? startDate.format('Y-m-d') : '';
                            var endDateString = endDate ? endDate.format('Y-m-d') : '';

                            var interval = 0;
                            if (startDate && endDate){
                                interval = endDate.getTime() - startDate.getTime();
                                interval = 1 + (interval / (1000 * 60 * 60 * 24));
                            }

                            Ext4.apply(this, {
                                items: [{
                                    xtype: 'tabpanel',
                                    border: true,
                                    defaults: {
                                        border: false
                                    },
                                    items: [{
                                        title: 'Summary',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItemsByInvoice',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        title: 'Total Charges By Category',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItemsByInvoiceCategory',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        title: 'Total Charges By ONPRC Project',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItemsByInvoiceProject',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        title: 'Total Charges By Division',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItemsByInvoiceDivision',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        title: 'Total Revenue By Alias',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItemsByInvoiceCreditAccount',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        title: 'Total Charges By Item',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItemsByInvoiceItem',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        title: 'All Items',
                                        xtype: 'ldk-querypanel',
                                        queryConfig: {
                                            schemaName: 'onprc_billing',
                                            queryName: 'invoicedItems',
                                            filters: [LABKEY.Filter.create('invoiceId', this.invoiceRunId, LABKEY.Filter.Types.EQUAL)],
                                            failure: LDK.Utils.getErrorCallback()
                                        }
                                    },{
                                        xtype: 'ldk-navpanel',
                                        title: 'More Reports',
                                        sections: [{
                                            header: 'IBS Sheets',
                                            items: [
                                                {name: 'Download IBS Spreadsheet', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'onprc_billing', 'query.queryName': 'chargesIBS', 'query.invoiceId~eq': this.invoiceRunId})}
                                            ]
                                        },{
                                            header: 'Charge Calculations For This Billing Period',
                                            items: [
                                                {name: 'Labwork Fees', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'onprc_billing', 'query.queryName': 'labworkFeeRates', 'query.param.StartDate': startDateString, 'query.param.EndDate': endDateString})},
                                                {name: 'Lease Fees', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'onprc_billing', 'query.queryName': 'leaseFeeRates', 'query.param.StartDate': startDateString, 'query.param.EndDate': endDateString})},
                                                {name: 'Per Diems', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'onprc_billing', 'query.queryName': 'perDiemRates', 'query.param.StartDate': startDateString, 'query.param.EndDate': endDateString, 'query.param.NumDays': interval})},
                                                {name: 'Procedure Fees', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'onprc_billing', 'query.queryName': 'procedureFeeRates', 'query.param.StartDate': startDateString, 'query.param.EndDate': endDateString})},
                                                {name: 'Other Charges', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'onprc_billing', 'query.queryName': 'miscChargesFeeRates', 'query.param.StartDate': startDateString, 'query.param.EndDate': endDateString})}
                                                //{name: 'Re-run Billing Pipeline', url: LABKEY.ActionURL.buildURL('onprc_ehr', 'billingPipeline', null, {startDate: startDateString, endDate: endDateString})}
                                            ]
//                                },{
//                                    header: 'Validation',
//                                    items: [
//                                        //{name: 'Animal Search', url: '<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalSearch.view?'}
//                                    ]
                                        }]
                                    }]
                                }]
                            });

                            this.callParent(arguments);
                        },
                        bodyStyle: 'padding: 10px;',
                        border: false,
                        defaults: {
                            border: false
                        },
                        doResize: function(itemWidth){
                            var width2 = this.getWidth();
                            if (itemWidth > width2){
                                this.setWidth(itemWidth);
                                this.doLayout();
                            }
                            else if (itemWidth < width2) {
                                if (this.originalWidth && width2 != this.originalWidth){
                                    this.setWidth(Math.max(this.originalWidth, itemWidth));
                                    this.doLayout();
                                }
                            }
                        }
                    });

                    Ext4.create('ONPRC_EHR.panel.InvoiceDetailsPanel', {
                        invoiceRunId: invoiceRunId,
                        billingPeriodStart: rec.get('billingPeriodStart'),
                        billingPeriodEnd: rec.get('billingPeriodEnd')
                    }).render('tabpanel_' + webpart.wrapperDivId);
                }
            }
        }
    }).render('invoiceDetails_' + webpart.wrapperDivId);
});

</script>

