<!--Created: 5-16-2018 R.Blasa-->

<script type="text/javascript">
    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        /* get the participant id from the request URL: this parameter is required. */
        var subjectIds = LABKEY.ActionURL.getParameter('subjectIds');
        subjectIds = subjectIds ? subjectIds.split(';') : [];

        Ext4.create('Ext.panel.Panel', {
            width: 450,
            defaults: {
                labelWidth: 180,
                border: false
            },
            items: [{
                html: '<b>This page generates a  PE Exam Report.<br><br>  Please select only one category option at a time when generating' +
                        'this report. When selecting the "Animal ID" category opton, please enter one Id per row, or paste a list of monkey ids into the input box below.</b>',
                style: 'padding-bottom: 15px;'
            },{
                style: 'padding-bottom: 20px;',
                xtype: 'ehr-areafield',
                itemId: 'areaField',
                addAllSelector: true,
                editable: true,
                fieldLabel: 'Area(s)',
                width: 400,
                pairedWithRoomField: true,
                getRoomField: function(){
                    return this.up('panel').down('#roomField');
                }

            },{

                style: 'padding-bottom: 20px;',
                xtype: 'ehr-roomfield',
                itemId: 'roomField',
                width: 400,
                fieldLabel: 'Room(s)',
                multiSelect: true,
                listeners: {
                    change: function(field){
                        var areaField = field.up('panel').down('#areaField');
                        areaField.reset();
                    }
                }


            },{

                style: 'padding-bottom: 20px;',
                xtype: 'ehr-vetfieldcombo',  //Modified:11-9-2016 R.Blasa
                itemId: 'vetField',
                width: 400,
                fieldLabel: 'Choose Vet',
                listeners: {
                    change: function (field)
                    {
                        var VetField = field.up('panel').down('#vetField');

                    }
                }


            },{

                style: 'padding-bottom: 20px;',
                xtype: 'textarea',
                width: 400,
                height: 200,
                fieldLabel: 'Enter Animal ID(s)',
                itemId: 'animalField'

            }],
            buttons: [{
                text: 'Submit',
                scope: this,
                handler: function (btn) {
                    var vetname = btn.up('panel').down('#vetField').getDisplayValue();
                    var animalid = btn.up('panel').down('#animalField').getValue();
                    var params = {
                        schemaName: 'study',
                        'query.queryName': 'ExamVetPE'
                    };

                    var areas = btn.up('panel').down('#areaField').getValue() || [];
                    areas = Ext4.isArray(areas) ? areas : [areas];

                    var roomField = btn.up('panel').down('#roomField');
                    var rooms = roomField.getValue() || [];
                    rooms = Ext4.isArray(rooms) ? rooms: [rooms];


                    if (!Ext.isEmpty(animalid)) {
                        animalid = Ext4.String.trim(animalid);
                        animalid = animalid.replace(/[\s,;]+/g, ';');

                    }

                    if (!Ext.isEmpty(vetname))
                        params['query.Id/assignedVet/assignedVet~contains'] =  vetname ;


                    if (!Ext.isEmpty(rooms))
                        params['query.Id/curLocation/room/room~in'] = rooms.join(';');

                    if (!Ext.isEmpty(animalid))
                          params['query.Id~in'] = animalid;


                    window.open(LABKEY.ActionURL.buildURL('query', 'executeQuery', null, params))

                }

            }]
        }).render(webpart.wrapperDivId);
    });
</script>