<p><strong>This page contains the links related to the PMIC data entry services.</strong></p>
<p>&nbsp;</p>
<ul>
    <li>
        <h4>Click here to go to,&nbsp;<strong><a href="/labkey/ehr/ONPRC/EHR/dataEntryForm.view?formType=PMIC%20SERVICES%20REQUEST">PMIC Services Request</a></strong>&nbsp;form</h4>
    </li>
</ul>
<p><em>This screen contains the PMIC services request data entry form</em></p>
<ul>
    <li>
        <h4>Click here to go to,&nbsp;<strong><a href="/labkey/ehr/ONPRC/EHR/dataEntryForm.view?formType=PMIC">PMIC Data Entry</a></strong>&nbsp;form</h4>
    </li>
</ul>
<p><em>This screen contains the data entry panels for PET Scan, CT Scan, SPECT, Angio, Ultrasound and DEXA procedures.</em></p>
<ul>
    <li>
        <h4>Click here to go to,&nbsp;<strong><a href="/labkey/ehr/ONPRC/EHR/animalHistory.view?">Animal History Page</a></strong>&nbsp;to view the PMIC data</h4>
    </li>
</ul>
<p><em>New tabs are created for each PMIC procedure under "<strong>Imaging</strong>" tab&nbsp;</em>on the Animal history form.&nbsp;</p>
<ol>
    <li><em><strong>PMIC - PET:&nbsp;</strong>&nbsp;Click on this tab to view the animal's PET Imaging data.</em></li>
    <li><em><strong>PMIC - CT:</strong>&nbsp;&nbsp;Click on this tab to view the animal's CT Imaging data.</em></li>
    <li><em><strong>PMIC - SPECT:</strong>&nbsp;&nbsp;Click on this tab to view the animal's SPECT Imaging data.</em></li>
    <li><em><strong>PMIC - Angio:</strong>&nbsp;&nbsp;Click on this tab to view the animal's Angio Imaging data.</em></li>
    <li><em><strong>PMIC - Ultrasound:</strong>&nbsp;&nbsp;Click on this tab to view the animal's Ultrasound Imaging data.</em></li>
    <li><em><strong>PMIC - DEXA:</strong>&nbsp;&nbsp;Click on this tab to view the animal's DEXA Imaging data.</em></li>
</ol>
<ul>
    <li>
        <h4>Click here to maintain the&nbsp;<strong><a href="/labkey/ldk/ONPRC/EHR/updateQuery.view?schemaName=onprc_ehr&amp;query.queryName=PMIC_Reference_Data">PMIC Reference Data</a></strong></h4>
    </li>
</ul>
<p><em>This is the maintenance screen for the PMIC reference data such as PET radioisotopes, SPECT radioisotopes, Ultrasound procedures, DEXA values &amp; Animal position values and etc. The PMIC admin can add/edit any of these items.</em></p>
<p><em>A new item is added by clicking the "IMPORT BULK DATA" on the top panel and entering valid "Value" and "Name" fields with a blank "End Date" field .</em></p>
<p><em>An item can be disabled by clicking the "EDIT" button and set a valid "End Date". The item will be deleted from the appropriate drop down list(s).</em>&nbsp;</p>
<ul>
    <li>
        <h4>&nbsp;<span style="font-size: 1em;">Click here to go to,</span><strong><span style="font-size: 1em;">&nbsp; <a href="/labkey/project/ONPRC/ResourceScheduler/PMIC%20Scheduler/begin.view?">PMIC Resource Scheduler</a></span></strong></h4>
    </li>
</ul>
<ol>
    <li><strong style="font-size: 1em;"><em>Click here to view,&nbsp;<a href="/labkey/query/ONPRC/ResourceScheduler/PMIC%20Scheduler/executeQuery.view?query.queryName=PMIC_Scheduler_Daily&amp;schemaName=extscheduler&amp;query.containerFilterName=AllFolders">Today's scheduled events</a></em></strong></li>
    <li><strong><em>Click here to view,&nbsp;<a href="/labkey/query/ONPRC/ResourceScheduler/PMIC%20Scheduler/executeQuery.view?query.queryName=PMIC_Scheduler_Weekly&amp;schemaName=extscheduler&amp;query.containerFilterName=AllFolders">Weekly scheduled events&nbsp;</a></em></strong></li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>