<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        Ext4.define('ONPRC.panel.PrintableReportsPanel', {
            itemId: 'sheetPanel',
            extend: 'Ext.panel.Panel',

            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    defaults: {
                        border: false
                    },
                    items: this.getItems()

                });

                this.callParent();
            },

            getItems: function(){
                var items = [{
                    html: 'This page provides reports to be printed by room or area.  After picking the location(s) using the drop downs below, hit the \'Print\' buttons below to print any of the reports',
                    style: 'padding-bottom: 20px;'
                },{
                    xtype: 'labkey-combo',
                    itemId: 'areaField',
                    width: 400,
                    fieldLabel: 'Area',
                    //multiSelect: true,
                    store: {
                        type: 'labkey-store',
                        schemaName: 'ehr_lookups',
                        queryName: 'areas',
                        autoLoad: true
                    },
                    valueField: 'area',
                    displayField: 'area',
                    listeners: {
                        select: function(field, records){
                            if (!records.length)
                                return;

                            var areas = [];
                            Ext4.Array.forEach(records, function(r){
                                areas.push(r.get('area'));
                            }, this);

                            var roomField = field.up('panel').down('#roomField');
                            roomField.suspendEvents();
                            roomField.selectByAreas(areas);
                            roomField.resumeEvents();
                        },
                        render: function(field){
                            var val = field.getValue();
                            val = Ext4.isArray(val) || !val ? val : [val];

                            var roomField = field.up('panel').down('#roomField');
                            roomField.suspendEvents();
                            roomField.selectByAreas(val);
                            roomField.resumeEvents();
                        }
                    }
                },{
                    xtype: 'ehr-roomfield',
                    itemId: 'roomField',
                    width: 400,
                    fieldLabel: 'Room(s)',
                    multiSelect: true,
                    listeners: {
                        change: function(field){
                            var areaField = field.up('panel').down('#areaField');
                            areaField.reset();
                        }
                    }
                },{
                    html: '',
                    style: 'margin-bottom: 10px;'
                },{
                    html: '<hr>'
                },{
                    html: '<b>Available Printouts:</b>',
                    style: 'padding-bottom: 20px;'
                }];

                items.push({
                    layout: {
                        type: 'table',
                        columns: 3,
                        tdAttrs: {
                            valign: 'top'
                        }
                    },
                    defaults: {
                        border: false
                    },
                    items: [{
                        html: '<i>Open Clinical Cases:</i>'
                    },{
                        style: 'padding-left: 10px;',
                        html: ''
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var params = panel.getParams();
                            if (!params)
                                return;

                            var url = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSServerURL');
                            var ssrsFolder = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSReportFolder');
                            ssrsFolder = '/' + ssrsFolder  + '/' + 'ActiveClinicalCases';

                            url += ssrsFolder + '&' + LABKEY.ActionURL.queryString(params);
                            console.log(url);
                            window.open(url);
                        }
                    },{
                        html: '<hr>',
                        style: 'padding-top: 10px;',
                        colspan: 3
                    },{
                        html: '<i>Clinical Medications:</i>'
                    },{
                        style: 'padding-left: 10px;',
                        items: [{
                            xtype: 'datefield',
                            hidden: true,
                            fieldLabel: 'Date',
                            itemId: 'medicationDateField',
                            value: new Date(),
                            allowBlank: false
                        },{
                            xtype: 'combo',
                            multiSelect: true,
                            fieldLabel: 'Time of Day',
                            itemId: 'medicationTimeOfDayField',
                            value: 'both',
                            displayField: 'display',
                            valueField: 'time',
                            queryMode: 'local',
                            store: {
                                type: 'array',
                                fields: ['time', 'display'],
                                data: [['both', 'Both'], ['AM', 'AM'],['PM', 'PM']]
                            }
                        }]
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var params = panel.getParams();
                            if (!params)
                                return;

                            var date = panel.down('#medicationDateField').getValue();
                            if (!date){
                                Ext4.Msg.alert('Error', 'Must provide a date');
                                return;
                            }

                            params['TreatmentDate'] = date.format('Y-m-d');
                            params['NumDays'] = 1;
                            params['Category'] = 'Clinical';

                            var timeOfDay = panel.down('#medicationTimeOfDayField').getValue();
                            if (timeOfDay && timeOfDay.length && timeOfDay[0] != 'both'){
                                params['TimeOfDay'] = timeOfDay.join(';');
                            }

                            var url = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSServerURL');
                            var ssrsFolder = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSReportFolder');
                            ssrsFolder = '/' + ssrsFolder  + '/' + 'ActiveTreatments';

                            url += ssrsFolder + '&' + LABKEY.ActionURL.queryString(params);
                            console.log(url);
                            window.open(url);
                        }
                    },{
                        html: '<hr>',
                        style: 'padding-top: 10px;',
                        colspan: 3
                    },{
                        html: '<i>Diets:</i>'
                    },{
                        style: 'padding-left: 10px;',
                        items: [{
                            xtype: 'datefield',
                            hidden: true,
                            fieldLabel: 'Date',
                            itemId: 'dietDateField',
                            value: new Date(),
                            allowBlank: false
                        },{
                            xtype: 'combo',
                            multiSelect: true,
                            fieldLabel: 'Time of Day',
                            itemId: 'dietTimeOfDayField',
                            displayField: 'display',
                            value: 'both',
                            valueField: 'time',
                            queryMode: 'local',
                            store: {
                                type: 'array',
                                fields: ['time', 'display'],
                                data: [['both', 'Both'], ['AM', 'AM'],['PM', 'PM']]
                            }
                        }]
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var params = panel.getParams();
                            if (!params)
                                return;

                            var date = panel.down('#dietDateField').getValue();
                            if (!date){
                                Ext4.Msg.alert('Error', 'Must provide a date');
                                return;
                            }

                            params['TreatmentDate'] = date.format('Y-m-d');
                            params['NumDays'] = 1;
                            params['Category'] = 'Diet';

                            var timeOfDay = panel.down('#dietTimeOfDayField').getValue();
                            if (timeOfDay && timeOfDay.length && timeOfDay[0] != 'both'){
                                params['TimeOfDay'] = timeOfDay.join(';');
                            }

                            var url = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSServerURL');
                            var ssrsFolder = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSReportFolder');
                            ssrsFolder = '/' + ssrsFolder  + '/' + 'ActiveTreatments';

                            url += ssrsFolder + '&' + LABKEY.ActionURL.queryString(params);
                            console.log(url);
                            window.open(url);
                        }
                    },{
                        html: '<hr>',
                        style: 'padding-top: 10px;',
                        colspan: 3
                    },{
                        html: '<i>Open Surgical Cases:</i>'
                    },{
                        style: 'padding-left: 10px;',
                        html: ''
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var params = panel.getParams();
                            if (!params)
                                return;

                            var url = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSServerURL');
                            var ssrsFolder = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSReportFolder');
                            ssrsFolder = '/' + ssrsFolder  + '/' + 'SurgicalCases';

                            url += ssrsFolder + '&' + LABKEY.ActionURL.queryString(params);
                            console.log(url);
                            window.open(url);
                        }
                    },{
                        html: '<hr>',
                        style: 'padding-top: 10px;',
                        colspan: 3
                    },{
                        html: '<i>Surgical Medications:</i>'
                    },{
                        style: 'padding-left: 10px;',
                        items: [{
                            xtype: 'datefield',
                            hidden: true,
                            fieldLabel: 'Date',
                            itemId: 'surgicalMedicationDateField',
                            value: new Date(),
                            allowBlank: false
                        },{
                            xtype: 'combo',
                            multiSelect: true,
                            fieldLabel: 'Time of Day',
                            itemId: 'surgicalMedicationTimeOfDayField',
                            displayField: 'display',
                            value: 'both',
                            valueField: 'time',
                            queryMode: 'local',
                            store: {
                                type: 'array',
                                fields: ['time', 'display'],
                                data: [['both', 'Both'], ['AM', 'AM'],['PM', 'PM']]
                            }
                        }]
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var params = panel.getParams();
                            if (!params)
                                return;

                            var date = panel.down('#surgicalMedicationDateField').getValue();
                            if (!date){
                                Ext4.Msg.alert('Error', 'Must provide a date');
                                return;
                            }

                            params['TreatmentDate'] = date.format('Y-m-d');
                            params['NumDays'] = 1;
                            params['Category'] = 'Surgical';

                            var timeOfDay = panel.down('#surgicalMedicationTimeOfDayField').getValue();
                            if (timeOfDay && timeOfDay.length && timeOfDay[0] != 'both'){
                                params['TimeOfDay'] = timeOfDay.join(';');
                            }

                            var url = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSServerURL');
                            var ssrsFolder = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSReportFolder');
                            ssrsFolder = '/' + ssrsFolder  + '/' + 'ActiveTreatments';

                            url += ssrsFolder + '&' + LABKEY.ActionURL.queryString(params);
                            console.log(url);
                            window.open(url);
                        }
                    },{
                        html: '<hr>',
                        style: 'padding-top: 10px;',
                        colspan: 3
                    },{
                        html: '<i>Weight Sheets:</i>'
                    },{
                        style: 'padding-left: 5px;',
                        html: ''
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var params = panel.getParams();
                            if (!params)
                                return;

                            var url = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSServerURL');
                            var ssrsFolder = LABKEY.getModuleProperty('ONPRC_EHR', 'SSRSReportFolder');
                            ssrsFolder = '/' + ssrsFolder  + '/' + 'WeightSheets';

                            url += ssrsFolder + '&' + LABKEY.ActionURL.queryString(params);
                            console.log(url);
                            window.open(url);
                        }
                    },{
                        html: '<hr>',
                        style: 'padding-top: 10px;',
                        colspan: 3
                    },{
                        html: '<i>EXPERIMENTAL - Room Layout:</i>'
                    },{
                        style: 'padding-left: 5px;',
                        html: ''
                    },{
                        xtype: 'button',
                        style: 'margin-left: 5px;',
                        text: 'View/Print',
                        border: true,
                        handler: function(btn){
                            var panel = btn.up('#sheetPanel');
                            var area = panel.down('#areaField').getValue();
                            var rooms = panel.down('#roomField').getValue();
                            if (Ext4.isEmpty(area) &&  Ext4.isEmpty(rooms)){
                                Ext4.Msg.alert('Error', 'Must provide a room or area');
                                return;
                            }

                            var params = {};
                            if (area)
                                params.area = area;
                            if (rooms)
                                params.rooms = rooms;

                            var url = LABKEY.ActionURL.buildURL('onprc_ehr', 'printRoom', null, params);
                            window.open(url);
                        }
                    }]
                });

                return items;
            },

            getParams: function(){
                var params = {
                    SessionId: LABKEY.Security.currentUser.sessionid
                };

                var areas = this.down('#areaField').getValue() || [];
                areas = Ext4.isArray(areas) ? areas : [areas];

                var rooms = this.down('#roomField').getValue() || [];
                rooms = Ext4.isArray(rooms) ? rooms: [rooms];

                if (!areas.length && !rooms.length){
                    Ext4.Msg.alert('Error', 'Must select an area or room');
                    return;
                }

                //if rooms have been chosen, ignore areas
                if (rooms.length){
                    params.Rooms = rooms;
                }
                else if (areas.length){
                    params.Areas = areas.join(';');
                }

                return params;
            }
        });

        Ext4.create('ONPRC.panel.PrintableReportsPanel', {

        }).render(webpart.wrapperDivId);
    });

</script>