<!--Update 2023-09-30 Final Code for Ve3t assignment-->
<script type="text/javascript">
    Ext4.onReady(function (){
        EHR.Security.init({
            scope: this,
            success: function(){
                var webpart = <%=webpartContext%>;
                var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
                if(!ctx)
                    return;



                Ext4.define('EHR.panel.VetReviewPanel', {
                    extend: 'Ext.panel.Panel',



                    initComponent: function(){
                        Ext4.apply(this, {
                            itemId: 'outerPanel',
                            border: false,
                            defaults: {
                                border: false
                            },
                            items: [{
                                width: 1000,
                                items: [{
                                    html:' <p>Each animal is assigned to a vet, using a series of rules.  Vets can be assigned to either an IACUC protocol, a project, an area, and/or a room. </p> ' +

                                            '<ul><li><a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'study', 'query.queryName': 'demographicsAssignedVet'}) + '">Vets assigned to living animals</a></li>' +
                                            '<li><a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'onprc_ehr', 'query.queryName': 'vet_assignment_summary'}) + '">Rules governing vet assignments</a></li></ul>' +
                                            '<p>This is designed to show any SOAPs entered for a given animal since the last date a vet review was entered.</p>  ',




                                    style: 'padding-bottom: 20px;',
                                    border: false
                                },{
                                    layout: 'hbox',
                                    border: false,
                                    items: [{
                                        xtype: 'ehr-vetfieldcombo',
                                        width: 400,
                                        fieldLabel: 'Choose Vet (blank for all)',
                                        itemId: 'userField'
                                    },{
                                        xtype: 'button',
                                        style: 'margin-left: 10px;margin-top: 4px;',
                                        text: 'Submit',
                                        scope: this,
                                        handler: function(btn){
                                            var panel = btn.up('#outerPanel');
                                            var userName = panel.down('#userField').getDisplayValue();
                                            var filterArray = [];
                                            filterArray.push(LABKEY.Filter.create('totalRemarksEnteredSinceReview', 0, LABKEY.Filter.Types.GT));



                                            if (userName){
                                                filterArray.push(LABKEY.Filter.create('Id/assignedVet/assignedVet', userName, LABKEY.Filter.Types.CONTAINS));
                                            }



                                            var target = panel.down('#targetPanel');
                                            target.removeAll();
                                            target.add({
                                                xtype: 'ldk-querypanel',
                                                queryConfig: {
                                                    schemaName: 'study',
                                                    queryName: 'demographics',
                                                    viewName: 'Vet Review',
                                                    filterArray: filterArray,
                                                    scope: this,
                                                    success: function(dr){
                                                        var itemWidth = Ext4.get(dr.domId).getSize().width + 150;
                                                        this.doResize(itemWidth);
                                                    }
                                                }
                                            });
                                        }
                                    }]
                                },]
                            },{
                                itemId: 'targetPanel',
                                style: 'padding-top: 20px'
                            },
                                // {
                                //     html: '<hr><h4><strong>CMU Vet Assignment Administration</strong></h4> <br> ' +
                                //             '<strong>Vet Assignment Tools </strong>' +
                                //             '<ul><li><a href="/query/ONPRC/EHR/executeQuery.view?schemaName=study&amp;query.queryName=demographics_assignedVetNotification">NHPs without an assigned vet</a></li>' +
                                //             '<li><a href="/query/ONPRC/EHR/executeQuery.view?schemaName=study&amp;query.queryName=ProtocolswithNoVetAssigned">IACUCs with no vet assigned</a></li></ul>' +
                                //             '<strong>Vet Assignment Priority</strong>' +
                                //             '<p>Vets are assigned to NHPs according to the first rule listed below that matches.</p>' +
                                //             '<ol start="0"> ' +
                                //             '<li>Open Case</li> <li>Room <em>High Priority</em></li> <li>Area <em>High Priority</em></li> <li>Project (<span style="background-color: #ffff99;">Research</span>) + Room</li> <li>Project (<span style="background-color: #ccffff;">Resource</span>) + Room</li> ' +
                                //             '<li>Project (<span style="background-color: #ffff99;">Research</span>) + Area</li> <li>Project (<span style="background-color: #ccffff;">Resource</span>) + Area</li> ' +
                                //             '<li>Project (<span style="background-color: #ffff99;">Research</span>) <em>High Priority</em></li>' +
                                //             '<li>Project (<span style="background-color: #ccffff;">Resource</span>) <em>High Priority</em></li>' +
                                //             '<li>Project (<span style="background-color: #ffff99;">Research</span>)</li>' +
                                //             '<li>Project (<span style="background-color: #ccffff;">Resource</span>)</li>  <li>Protocol + Room <em>High Priority</em></li>  <li>Protocol + Area <em>High Priority</em></li>  <li>Protocol + Room</li> ' +
                                //             '<li>Protocol + Area</li>  <li>Protocol <em>High Priority</em></li> <li>Protocol</li> <li>Room</li> <li>Area</li> </ol>',
                                //
                                //     style: 'padding-bottom: 20px;',
                                //     border: false
                                // },
                            ]
                        });



                        this.callParent(arguments);



                        this.on('afterrender', function(panel){
                            this.originalWidth = Math.max(this.getWidth(), Ext4.getBody().getWidth());
                        }, this);
                    },



                    doResize: function(itemWidth){
                        var width2 = this.getWidth();
                        if (itemWidth > width2){
                            this.setWidth(itemWidth);
                            this.doLayout();
                        }
                        else if (itemWidth < width2) {
                            if (this.originalWidth && width2 != this.originalWidth){
                                this.setWidth(Math.max(this.originalWidth, itemWidth));
                                this.doLayout();
                            }
                        }
                    }
                });



                Ext4.create('EHR.panel.VetReviewPanel', {



                }).render(webpart.wrapperDivId);
            }
        });
    });
</script>